.footer {
    background-color: #2f4357;
    color: white;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-icons {
    padding: 10px;
    display: flex;
    align-items: center;
}

.left-icons img {
    margin-right: 10px;
    height: 20px;
}

.right-icons {
    padding: 10px;
    display: flex;
    align-items: center;
}

.right-icons img {
    margin-left: 10px;
    height: 30px;
}